:root {
  --orange: #FF9800;
  --green: #4CAF50;
  --dark-green: #1B5E20;
  --charcoal: #2C2C2A;

  --off-white: #F9F9F6;
  --cream: #FDFBF7;
  --sand: #FAF6F0;
  --soft-cream: #FFF8E1;

  --sage: #E8F5E9;
  --muted-red: #F9ECEB;

  --olive: #1E2A1C;
  --beige: #E6E1DA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--off-white);
  color: var(--charcoal);
  font-family: 'Poppins', sans-serif;
}

.navbar {
  height: 70px;
  width: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ddd;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.5); 
}

.navbar:hover{
  background: #b7a9a9;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.brand-name {
  color: var(--charcoal);
  font-size: 1.8rem;
  font-weight: 700;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-right a {
  text-decoration: none;
  color: var(--charcoal);
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-right a:hover {
  color: black;
  background-color: #b1d7b2;
  border-radius: 10px;
  width: fit-content;
  
}

.search-box {
  height: 40px;
  width: 220px;
  padding: 0 15px;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
  font-size: 0.95rem;
}

.search-box:focus {
  border-color: var(--green);
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

.navbar-right .signin {
  background-color: red;
  border-radius: 10px;
  height: 30px;
  width: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*===================hero=================*/
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 80px;
  min-height: 80vh;
  height: 700px;

  background-image: url('/herobg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-left {
  flex: 1;
}

.hero-left h1 {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 20px;
  color: var(--charcoal);
}

.hero-left p {
  font-size: 1.1rem;
  max-width: 500px;
  color: #666;
}

.hero-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-image {
  width: 400px;
  height: 400px;
  object-fit: contain;
}
.hero-image:hover{
  transform: scale(1.05);
}

.hero-buttons {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}

.btn-primary,
.btn-secondary {
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}

.btn-primary {
  background: black;
  color: white;
}
.btn-primary:hover{
  background: green;
}

.btn-secondary {
  background: transparent;
  border: 2px solid var(--green);
  color: var(--green);
}

.btn-secondary:hover{
  background: orange;
}


/*==============card================*/
.popular{
  margin-top: 20px;
  text-align: center;
}
.popular h3{
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 40px;
}

.products {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-right: 15px;
}

.card {
  width: 280px;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}
.card:hover{
  background-color: rgb(213, 239, 188);
}

.card-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
}

.card-title {
  margin-bottom: 8px;
}

.card-rating {
  color: #f59e0b;
  font-weight: 600;
  margin-bottom: 8px;
}

.card-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 12px;
}

.card-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: var(--green);
  color: white;
  cursor: pointer;
}
.card-btn:hover {
  background: var(--dark-green);
}

.service{
  text-align: center;
}
.service h3{
  margin-top: 30px;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 40px;
}

/*==========service=========*/
.service-section {
  background-image: url('/herobg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 50px 0;
}

.service {
  text-align: center;
}

.service h3 {
  margin-bottom: 40px;
}
.outer {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 6px 50px;
  margin-bottom: 20px;
  
}

.inner1,
.inner2 {
  width: 350px;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.inner1 {
  background: var(--muted-red);
}
.inner1:hover{
  background: red;
  color: white;
}

.inner2 {
  background: var(--sage);
  color: var(--dark-green);
}
.inner2:hover{
  background: darkgreen;
  color: white;
}

.inner1 h2,
.inner2 h2 {
  text-align: center;
  margin-bottom: 20px;
}

.inner1 ul,
.inner2 ul {
  list-style-type: disc;
  padding: 20px;
}

.inner1 li,
.inner2 li {
  margin: 15px 0;
  font-size: 1.1rem;
}

/*=========gym=========*/
.gym-section {
  height: 400px;
  background-image: url('/gym.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  padding-bottom: 40px;
}

.gym-section {
  position: relative;
  height: 400px;
  background:
    linear-gradient(
      rgba(30,42,28,0.55),
      rgba(30,42,28,0.55)
    ),
    url('/gym.png');
  background-size: cover;
  background-position: center;
}

.gym-heading {
  color: white;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;

  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

/*==============cycle======*/
.lifecycle {
  padding: 80px 40px;
  text-align: center;
  
}

.lifecycle-title {
  font-size: 2rem;
  margin-bottom: 40px;
}

.lifecycle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.stage {
  min-width: 160px;
  padding: 20px;
  border-radius: 12px;
  background: beige;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  transition: transform 0.3s;
}

.stage:hover {
  transform: translateY(-5px);
}

.arrow {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--orange);
}


/* contact */

.contact-outer {
  background-image: url('/herobg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 20px 20px;
}

.contact-section {
  max-width: 700px;
  margin: 80px auto;
  padding: 40px;
  text-align: center;
  background: var(--soft-cream);
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}
.contact-info p:first-child {
  color: var(--green);
  font-weight: 600;
}

.contact-section h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.contact-subtitle {
  color: #666;
  margin-bottom: 25px;
}

.contact-info {
  margin-bottom: 30px;
}

.contact-info p {
  margin: 8px 0;
  font-size: 1.05rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #000;
}

.contact-form button {
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: var(--orange);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  opacity: 0.9;
}


/*============footer=====*/
.footer {
  background: var(--olive);
  color: var(--beige);
  padding: 50px 30px;
  text-align: center;
  margin-top: 0px;
}

.footer-top h2 {
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.social-icons span {
  cursor: pointer;
  transition: 0.3s;
}

.social-icons span:hover {
  color: var(--orange);
}

.footer-middle {
  margin-bottom: 30px;
}

.suggestion-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.suggestion-box input {
  width: 300px;
  padding: 12px;
  border: none;
  border-radius: 8px;
}

.suggestion-box button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background: var(--orange);
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.copyright {
  margin-top: 30px;
  color: var(--beige);
  opacity: 0.8;
}


/*======================================respnsive==============================*/
/*======================================respnsive==============================*/

/* ============================= */
/* 📱 RESPONSIVE FIXES */
/* ============================= */

@media (max-width: 1024px) {
  .hero {
    padding: 40px 30px;
    flex-direction: column;
    height: auto;
    text-align: center;
    gap: 30px;
  }

  .hero-left h1 {
    font-size: 3rem;
  }

  .hero-image {
    width: 300px;
    height: 300px;
  }

  .outer {
    flex-wrap: wrap;
  }
}

/* ================= NAVBAR FIX ================= */
@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  .navbar {
    height: auto;
    flex-wrap: wrap;
    background-color: #dfc8c8;
  }

  .navbar .logo{
    border-radius: 40%;
  }

  .navbar .brand-name{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .navbar-right a {
    font-weight: 600;
  }

  .navbar-right .signin {
    background-color: red;
    border-radius: 10px;
    height: 20px;
    width: 80px;
    text-align: center;
    margin-bottom: 20px;
  }

  

  /* hide menu by default */
  .navbar-right {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
  }

  /* show when clicked */
  .navbar-right.show {
    display: flex;
  }

  .search-box {
    width: 100%;
  }
}

/* SMALL MOBILE */
@media (max-width: 480px) {
  .hero-left h1 {
    font-size: 2.2rem;
  }

  .brand-name {
    font-size: 1.4rem;
  }

  .navbar-right a {
    font-size: 0.9rem;
  }

  .card {
    width: 100%;
  }

  .outer {
    flex-direction: column;
    align-items: center;
  }

  .inner1,
  .inner2 {
    width: 90%;
  }
}